<template>
  <div class="header-template">
    <div id="content-header">
      <img src="../assets/logo.svg">
      <div id="container-tools">
        <div class="icon icon-header" id="icon-header-1"></div>
        <div class="icon icon-header" id="icon-header-2"></div>
        <div class="icon icon-header" id="icon-header-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderTemplate'
}
</script>

<style lang="scss" scoped>
  .header-template {
    width: 100%;
    height: 45px;
    position: relative;
    color: #fff;
    background: #29235c;
    @media screen and (min-width: 996px) {
      height: 60px;
    }
    img {
      width: auto;
      height: 35px;
      position: relative;
      @media screen and (min-width: 996px) {
        height: 50px;
      }
    }
  }

  #content-header {
    width: 95%;
    max-width: 1360px;
    position: relative;
    margin: 0 auto;
  }

  #container-tools {
    width: 120px;
    float: right;
  }

  .icon-header {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0.5rem auto;
    cursor: pointer;
    background: aqua;
  }
</style>
