<template>
  <div id="app">
    <header-template/>
    <div id="container-nav">
      <div id="profile"></div>
      <hamburger-menu-button></hamburger-menu-button>
      <hamburger-menu>
        <ul>
          <li><router-link :to="{ name: 'inicio' }">Inicio</router-link></li>
          <div class="divider">Mis legados</div>
          <li><router-link :to="{ name: 'bancos' }">Bancos & inversiones</router-link></li>
          <li><router-link :to="{ name: 'inmuebles' }">Inmuebles</router-link></li>
          <li><router-link :to="{ name: 'seguros' }">Seguros & afore</router-link></li>
          <li><router-link :to="{ name: 'negocios' }">Negocios</router-link></li>
          <li><router-link :to="{ name: 'vehiculos' }">Vehículos</router-link></li>
          <li><router-link :to="{ name: 'otros' }">Otros</router-link></li>
          <div class="divider">Mis memorias</div>
          <li><router-link :to="{ name: 'cartas' }">Cartas</router-link></li>
          <li><router-link :to="{ name: 'fotos' }">Fotos</router-link></li>
          <li><router-link :to="{ name: 'video' }">Video</router-link></li>
          <li><router-link :to="{ name: 'documentos' }">Documentos</router-link></li>
        </ul>
        <div id="close-session">Cerrar sesión</div>
      </hamburger-menu>
    </div>

    <div id="content">
      <img src="./assets/logo.png">
      <router-view/>
    </div>
  </div>
</template>

<script>
import HeaderTemplate from './components/HeaderTemplate'
import { hamburgerMenu, hamburgerMenuButton } from '@profesia/vue-hamburger-menu-component'

export default {
  name: 'App',
  components: {
    HeaderTemplate,
    hamburgerMenuButton,
    hamburgerMenu
  }
}
</script>

<style lang="scss">
/* Reset */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  input[type=checkbox],th {
    vertical-align: bottom;
  }

  html {
    box-sizing: border-box;
    overflow-y: scroll;
  }

  *,:after,:before {
    box-sizing: inherit;
  }

  embed,img,object {
    max-width: 100%;
  }

  blockquote,q {
    quotes: none;
  }

  blockquote:after,blockquote:before,
  q:after,q:before {
    content: '';
    content: none;
  }

  a {
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
  }

  del {
    text-decoration: line-through;
  }

  abbr[title],dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
  }

  th {
    font-weight: 700;
  }

  td {
    font-weight: 400;
    vertical-align: top;
  }

  hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
  }

  input,select {
    vertical-align: middle;
  }

  pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
  }

  input[type=radio] {
    vertical-align: text-bottom;
  }

  .ie7 input[type=checkbox] {
    vertical-align: baseline;
  }

  .ie6 input {
    vertical-align: text-bottom;
  }

  input,select,textarea {
    font: 99% sans-serif;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    font: 100%;
  }

  .button,h1,strong {
    font-weight: 700;
  }

  small {
    font-size: 85%;
  }

  td,td img {
    vertical-align: top;
  }

  sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sup {
    top: -.5em;
  }

  sub {
    bottom: -.25em;
  }

  .clearfix:after,.clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    zoom:1;
  }

  /* General styles */
  @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

  #app {
    width: 100%;
    position: relative;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f2f2f2;
  }

  #content {
    width: 100%;
    position: relative;
    margin-top: 80px;
    @media screen and (min-width: 768px) {
      width: 75%;
      float: right;
      margin-top: 0;
    }
  }

  /* Menu */
  #container-nav {
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    @media screen and (min-width: 768px) {
      width: 25%;
      position: relative;
      float: left;
      top: 0;
    }
  }

  #profile {
    width: 100%;
    height: 80px;
    position: relative;
    background: aqua;
    @media screen and (min-width: 768px) {
      width: 100%;
      height: 80px;
      position: relative;
    }
  }

  .module-hamburger-menu {
    @media screen and (min-width: 768px) {
      width: 100%;
      height: auto;
      position: relative;
    }
    ul {
      background-color: navy;
      border: 1px solid #ddd;
      overflow: hidden;
    }
    li {
      list-style: none;
      @media screen and (min-width: 768px) {
        width: 100%;
        height: 60px;
        background: navy;
      }
    }
    a {
      color: red;
      display: block;
      padding: 7px 20px;
      &:hover {
        background-color: #ddd;
      }
    }
  }

  div.module-hamburger-menu-button {
    display: block !important;
    float: right;
    top: -60px;
    right: 4%;
    @media screen and (min-width: 768px) {
      display: none !important;
    }
  }

</style>
